<nav class="navbar navbar-light bg-light navbar-custom">
  <a class="navbar-brand" href="<%= root_path %>">Reivo Summer Internship</a>
  <a href="<%= new_recipe_path %>">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">レシピを投稿</button>
  </a>
</nav>
